@media screen and (max-width: 800px){

    #fy{
        background-image: url("../images/cartographer.png");
    }
    .all{
        background-image: url("../images/gala.gif");
    }
    .main{
  
        overflow-x: hidden;
    }
    #posty{
        width: 85%;
    }
    #posty .content{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
    #posty .controllers{
        padding-left: 10px;
        padding-right: 10px;
        
    }
    #posty .header h1{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    #posty .header .pp{
        width: 45px;
        height: 45px;
    }
    #vbox{
        padding: 4px 10px;
        align-items: center;
    }
    #fcc .mastercontrol a i{
        font-size: 16px;
        padding-right: 5px;
    }
    #fcc .mastercontrol span{
        font-size: 16px;
       
    }
    #ftt{
        font-size: 15px;
        font-weight: normal;
    }
    #sb{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    #sb .lg{
        display: none;
    }
    #lll{
        font-size: 14px;
        margin: 0;
    }
    #lll .form-select{
        font-size: 14px;
    }
   #filter{
    width:100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    gap: 5px;
   }
   #popo{
    padding-top: 25px;
   }
   #appy{
    font-weight: 400;
    font-size: 16px;
   }
   #ic{
    margin-top: 0;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    padding-right: 10px;
   }
   #ic .back{
    font-size: 14px;
    padding: 0;
   }
   #ic .back a i{
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 0;
    border: 1px solid white;
    font-size: 18px;
    margin-top: -1px;
   }
   #plg span{
    font-size: 14px;
    padding-right: 7px;
   }
   #plg i{
    font-size: 14px;
    padding: 0;
   }
   
    #ser{
    width: 75%;
    position: relative;
    left: 0;
    margin-right: 20px;
    margin-left: 15px;
    height: 35px;
   }
   #seru{
    height: 35px;
    font-size: 14px;
   }
   #seruss{
    padding: 1px 5px 1px 5px;
    text-align: center;
    font-size: 14px;
   }
   #comp h1{
    padding: 10px 0 10px 0;
   }
   #prof{
    margin-right: 1px;
    height: 50px;
    width: 50px;
   }
   #prof .pp{
    width: 40px;
    height: 40px;
   }
   .fff{
    display: flex;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
    justify-content: space-between;
   }
   .fff select{
      padding: 8px;
      font-size: 17px;
   }
   #comp{
    padding: 1px 0 1px 0;
    text-align: center;
   }
   #comp h1{
    font-size: 30px;
   }
   #shh{
   padding: 1.5px 0 1.5px 0;
    text-align: center;
    font-size: 23px;
   }
   #arrow{
    font-size: 17px;
    padding-top: 1px;
    padding-bottom: 1px;
   }
   #sposty{
    width: 88%;
    padding: 25px;
    }

    #sposty .controllers{
        gap: 30px;
    }
    #lnt{
        display: none;
    }
    #up{
        width: 90%;
    }
    #istyle{
        display: none;
    }
    #sup{
        min-height: 100vh;
    }
    #sf{
        width: 85%;
        font-size: 14px;
        margin-top: 55px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-width: 2px;
        gap: 20px;
        padding-left: 5px;
    }

    #sff{
        width: 85%;
        font-size: 14px;
        margin-top: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-width: 2px;
        gap: 20px;
    }
    #sff h1{
        font-size: 14px;
    }
    #sf h1{
        font-size: 14px;
    }
    #ppp{
        padding: 0;
        margin: 0;
        margin-top: 10px;
        height: 70px;
    }
    #sf .un .inp input{
        padding: 1.5px 0 1.5px 0;
        border: none;
        border-radius: 2px;
        border-bottom: 2px solid rgb(239 68 68);
    }
    #sff .un .inp input{
        padding: 1.5px 0 1.5px 0;
        border: none;
        border-radius: 2px;
        border-bottom: 2px solid rgb(239 68 68);
    }
    #sudu{
        padding: 4px 20px 4px 20px;
        font-size: 16px;
        margin-left: 10px;
    }
    #ppp img{
        height: 70px;
        width: 130px;
    }
    #lh{
        margin-bottom: 50px;
    }
    #ef{
        width: 90%;
    }
    #eb{
        padding-left: 20px;
        width: 30%;
        padding-right: 20px;
    }
    #land{
        display: none;
    }
    #ls{
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 95%;
        /* padding: 10px 0 10px 0; */
        padding: 0;
        gap: 10px;
        height: calc(93vh - 100px);
    }
    #ls .content{
        width: 95%;
        height: fit-content;
        
    }

    #pls{
        padding: 2px 14px 2px 14px;
        font-size: 18.5px;
    }

    #ls .content h1{
        font-size: 36px;
        line-height: 55px;
        margin-bottom: 12px;;
    }
    #ls .content p{
        width: 90%;
        text-align: center;
        margin: auto;
        font-size: 25px;
    }
    #my{
        margin-top: 20px;
        font-size: 25px;
    }
    .controllers{
        justify-content: center;
        align-items: center;
    }
    #gu{
        display: none;
    }
    #pc{
        width: 100%;
    }
    #pc .greet{
        padding-top: 30px;
        width: 100%;
        justify-content: space-between;
    }
    #pc .greet .pp{
        width: 60px;
        height: 60px;
    }
    #pc .greet h1{
        font-size: 25px;
        line-height: 35px;
    }
    #pc .greet .nxt{
        margin-top: 5px;
        padding-left: 5px;
    }
    #pc .greet .nxt h3{
        font-size: 15px;
    }
    #nih{
        margin-top: 25px;
        gap: 20px;
    }
    #nih h1{
        font-size: 18px;
        padding-left: 5px;
        margin-top: 10px;
    }

    #post{
        width: 90%;
    }
    #pss{
        width: 100px;
        font-size: 19px;
        padding: 4px 10px 4px 10px;
    }
    #post textarea{
        padding: 15px;
        height: 180px;
    }
    #pmain{
        background-image: url("../images/cartographer.png");
        overflow-x: hidden
    }
    .prevposts{
        padding: 0;
    }
    #pph{
        font-size: 26px;
        margin-top: 25px;
    }
    #ppd{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #ppd .post{
        width: 100%;
        padding: 18px;
    }
    #pposty h1{
        padding-top: 0;
        font-size: 14px;
    }
    #mc{
        margin-top: 10px;
        gap: 40px;
    }
    #mcc{
      flex-direction: column;
      gap: 10px;
    }
    #mcc .likesystem{
        font-size: 18px;
    }
    #mcc .likesystem span{
        font-weight: normal;
    }
    #dww{
        text-align: right;
        font-size: 14px;
    }
}