@media screen and (max-width: 800px){

    .main{
        overflow-x: hidden;
    }
    #posty{
        width: 85%;
    }
    #posty .content{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;
    }
    #posty .controllers{
        padding-left: 10px;
        padding-right: 10px;
        
    }
    #sb{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    #sb .lg{
        display: none;
    }
    #lll{
        font-size: 14px;
        margin: 0;
    }
    #lll .form-select{
        font-size: 14px;
    }
   #filter{
    width:95%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 15px;
    gap: 5px;
   }
   #appy{
    font-weight: 500;
   }
   
    #ser{
    width: 75%;
    position: relative;
    left: 0;
    margin-right: 20px;
    margin-left: 15px;
    height: 35px;
   }
   #seru{
    height: 35px;
    font-size: 14px;
   }
   #seruss{
    padding: 1px 5px 1px 5px;
    text-align: center;
    font-size: 14px;
   }
   #comp h1{
    padding: 10px 0 10px 0;
   }
   #prof{
    margin-right: 2px;
   }
   .fff{
    display: flex;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
    justify-content: space-between;
   }
   .fff select{
      padding: 8px;
      font-size: 17px;
   }
   #comp{
    padding: 1px 0 1px 0;
    text-align: center;
   }
   #comp h1{
    font-size: 30px;
   }
   #shh{
   padding: 1.5px 0 1.5px 0;
    text-align: center;
    font-size: 23px;
   }
   #arrow{
    padding-top: 5px;
    padding-bottom: 5px;
   }
   #sposty{
    width: 85%;
    padding: 25px;
    }

    #sposty .controllers{
        gap: 30px;
    }
    #lnt{
        display: none;
    }
    #up{
        width: 90%;
    }
    #istyle{
        display: none;
    }
    #sup{
        min-height: 100vh;
    }
    #sf{
        width: 85%;
        font-size: 14px;
        margin-top: 55px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-width: 2px;
        gap: 20px;
        padding-left: 5px;
    }

    #sff{
        width: 85%;
        font-size: 14px;
        margin-top: 90px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-width: 2px;
        gap: 20px;
    }
    #sff h1{
        font-size: 14px;
    }
    #sf h1{
        font-size: 14px;
    }
    #ppp{
        padding: 0;
        margin: 0;
        margin-top: 10px;
        height: 70px;
    }
    #sf .un .inp input{
        padding: 1.5px 0 1.5px 0;
        border: none;
        border-radius: 2px;
        border-bottom: 2px solid rgb(239 68 68);
    }
    #sff .un .inp input{
        padding: 1.5px 0 1.5px 0;
        border: none;
        border-radius: 2px;
        border-bottom: 2px solid rgb(239 68 68);
    }
    #sudu{
        padding: 4px 20px 4px 20px;
        font-size: 16px;
        margin-left: 10px;
    }
    #ppp img{
        height: 70px;
        width: 130px;
    }
    #lh{
        margin-bottom: 50px;
    }
    #ef{
        width: 90%;
    }
    #eb{
        padding-left: 20px;
        width: 30%;
        padding-right: 20px;
    }
    #land{
        display: none;
    }
    #ls{
        padding: 30px;
        padding-left: 35px;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #ls .content{
        width: 95%;
    }
    #ls .content h1{
        font-size: 36px;
        line-height: 64px;
        margin-bottom: 12px;;
    }
    #my{
        margin-top: 20px;
        font-size: 25px;
    }
    .controllers{
        justify-content: center;
        align-items: center;
    }
    #gu{
        display: none;
    }
    #pc{
        width: 100%;
    }
    #pc .greet{
        width: 100%;
        justify-content: space-between;
    }
    #pc .greet .pp{
        width: 80px;
        height: 60px;
    }
    #pc .greet h1{
        font-size: 35px;
        line-height: 50px;
    }
    #pc .greet .nxt{
        margin-top: 5px;
    }
    #post{
        width: 90%;
    }
    #pss{
        width: 100px;
    }
    #pmain{
        overflow-x: hidden
    }
    .prevposts{
        padding: 0;
    }
    #pph{
        margin-top: 25px;
    }
    #ppd{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #ppd .post{
        width: 100%;
    }
    #pposty h1{
        padding-bottom: 12px;
    }
    #mc{
        gap: 40px;
    }
    #mcc{
      flex-direction: column;
      gap: 10px;
    }
    #mcc .likesystem{
        font-size: 18px;
    }
    #dww{
        text-align: right;
        font-size: 12px;
    }
}